@media screen and (min-width: 850px) {
    /* ------------------ header -----------------------*/
    header {
        padding-bottom: 40px;
    }

    header div.header {
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }
    
    header div.header nav {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    /* ------------------ hero -----------------------*/

    section#hero {
        padding: 200px 0px 200px 0px;
    }
    
    section#hero div.hero {
        flex-direction: row;
        align-items: center;
    }
    
    section#hero div.hero div.hero-text {
        width: 600px;
    }
    
    section#hero div.hero div.hero-text a {
        margin: 0px;
    }

    /* --------------------- horizontal cards ---------------------------------*/

    section#horizontal-cards {
        padding: 100px 0px 100px 0px;
    }
    
    section#horizontal-cards div.horizontal-cards div.horizontal-card {
        flex-direction: row;
        align-items: center;
    }
    
    section#horizontal-cards div.horizontal-cards div.horizontal-card div.horizontal-card-text {
        width: 800px;
    }

    /* ---------------------- text-cards -------------------------- */
    section#text-cards {
        background-color: cadetblue;
        padding: 100px 0px 100px 0px;
    }
    
    section#text-cards div.text-cards-intro {
        margin-bottom: 100px;
    }
    
    section#text-cards div.text-cards {
        flex-direction: row;
    }
}