* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

div.gallowdiv {
    max-width: 1000px;
    margin: auto;
    padding: 0px 15px 0px 15px;
}

/* ------------------ header -------------------- */

header {
    background-color: cadetblue;
    padding: 40px 0px 20px 0px;
}

header div.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header div.header div.logo {

}

header div.header div.logo h1 {
    font-size: 40px;
}

header div.header div.logo h1 a {
    color: white;
    text-decoration: none;
}

header div.header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

header div.header nav a {
    color: white;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}

/* ---------------------- hero ---------------------------------- */
section#hero {
    padding: 50px 0px 50px 0px;
    background-image: url("../background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

section#hero div.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#hero div.hero div.hero-text {
    
}

section#hero div.hero div.hero-text h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

section#hero div.hero div.hero-text p {
    color: white;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: justify;
}

section#hero div.hero div.hero-text a {
    background-color: cadetblue;
    color: white;
    display: block;
    width: 200px;
    text-decoration: none;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

section#hero div.hero div.hero-image { /* PRESTE ATENÇÃO AQUI */
    max-width: 500px;
    margin: auto;
}

section#hero div.hero div.hero-image img {
    width: 100%;
}

/* ----------------------------- horizontal cards ---------------------------------------- */
section#horizontal-cards {
    padding: 50px 0px 50px 0px;
}

section#horizontal-cards div.horizontal-cards {
    
}

section#horizontal-cards div.horizontal-cards div.horizontal-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px 50px 0px;
}

section#horizontal-cards div.horizontal-cards div.horizontal-card:nth-child(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

section#horizontal-cards div.horizontal-cards div.horizontal-card div.horizontal-card-image { /* PRESTE ATENÇÃO AQUI */
    max-width: 500px;
    margin: auto;
}

section#horizontal-cards div.horizontal-cards div.horizontal-card div.horizontal-card-image img {
    width: 100%;
}

section#horizontal-cards div.horizontal-cards div.horizontal-card div.horizontal-card div.horizontal-card-text {
    
}

section#horizontal-cards div.horizontal-cards div.horizontal-card div.horizontal-card-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

section#horizontal-cards div.horizontal-cards div.horizontal-card div.horizontal-card-text p {
    line-height: 25px;
    text-align: justify;
}